
h2 Your online worderobe is here #{session[:username]}!

form action="/logout" method="post"
    input type="submit" value="Log out"

a href="/clothing" Show my worderobe
a href="/add" Add clothing

